name: Quality
on: [push]

permissions:
  contents: read

jobs:
  quality:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.23.3']
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
        cache: false
    - name: Install dependencies
      run: go get .
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: v1.62.0
        skip-cache: true
        skip-pkg-cache: true
        skip-build-cache: true
    - name: Test
      run: go test -v -cover
    - name: Build
      run: go build
